html,body,#app {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #FFCBDD;
  color: #eee;
  font-family: Inter, system-ui, sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  width: 400px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 24px rgba(0,0,0,0.6);
  background: #000;
}